@model ASPNET02_WepApp.Models.Board

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Board</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contents" class="control-label"></label>
                <textarea input asp-for="Contents" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">
                    <span class="bi bi-file-earmark-plus"></span>&nbsp;저장
                </button>
                <a asp-controller="Board" asp-action="Index" class="btn btn-sm btn-success"></a>
                    <i class="bi bi-list-ol"></i>&nbsp;목록
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
